body{
    background-color: black;
    background-image:url(assets/thumb-1920-81856.jpg);
    background-repeat: no-repeat;
    color:white
}

img{
height: 400px;
border: 2px solid white;
border-radius: 50px;
}

footer p {
    color:brown
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: xx-large;
    padding: 50px
    
}