body{
    background-color: black;
    background-image:url(assets/thumb-1920-81856.jpg);
    background-repeat: no-repeat;
    color:white
}

img{
height: 400px;
border: 2px solid white;
border-radius: 50px;

}

footer p {
    color:brown
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(199, 27, 27);
    font-size: 100px;
    text-align: center  
    
}

h2{
font-size: xx-large;

}
